body {
  background-image: url('images/main-bg.jpg');
  margin: 0;
  background-color: #EFEEEA;
  background-repeat: repeat-x;
}

#content {
  width: 925px;
}

#header {
  width: 980px;
  margin: auto;
  padding: 0;
}

#top-gutter-left {
  width: 4px;
  height: 93px;
  padding: 0;
  margin: 0;
  background-image: url('images/top-left.jpg');
  background-repeat: no-repeat;
  float: left;
}

#top-gutter-right {
  width: 4px;
  height: 93px;
  padding: 0;
  margin: 0;
  background-image: url('images/top-right.jpg');
  background-repeat: no-repeat;
  float: left;
}

#top-center {
  width: 971px;
  height: 93px;
  padding: 0;
  margin: 0;
  background-image: url('images/top-center.jpg');
  background-repeat: repeat-x;
  float: left;
}

#top-bottom-separator {
  width: 980px;
  height: 7px;
  padding: 0;
  margin: 0;
  background-image: url('images/top-bottom.jpg');
  background-repeat: no-repeat;
  float: left;
}

#bottom-gutter-left {
  width: 7px;
  height: 52px;
  padding: 0;
  margin: 0;
  background-image: url('images/tab-left.jpg');
  background-repeat: no-repeat;
  float: left;
}

#bottom-gutter-right {
  width: 7px;
  height: 52px;
  padding: 0;
  margin: 0;
  background-image: url('images/tab-right.jpg');
  background-repeat: no-repeat;
  float: left;
}

#bottom-center {
  width: 966px;
  height: 52px;
  padding: 0;
  margin: 0;
  background-image: url('images/tab-center.jpg');
  background-repeat: repeat-x;
  float: left;
}

#clear {
  clear: both;
}

#logo {
  padding-top: 5px;
  padding-left: 41px;
  float: left;
}

#menu-destinations {
  float: right;
  padding: 0;
  margin: 0;  
  color: #262626;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  background-image: url('images/-t-left.jpg');
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 32px;
  padding-left: 20px;
}

#menu-destinations ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}

#menu-destinations li {
  background-image: url('images/-t-center.jpg');
  background-repeat: repeat-x;
  padding: 0;
  margin: 0;
  padding-right: 3em;
  padding-top: 5px;
  height: 32px;
  list-style: none;
  float: left;
}

#menu-destinations a {
  color: #262626;
  text-decoration: none;
}  

#menu-destinations a:hover {
  color: #262626;
  text-decoration: underline;
}

#block-user-login {
  margin-top: 5px;
  margin-right: -120px;
}

#block-user-login,
#block-user-login h2 {
  float: right;
  color: #424242;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

#block-user-login label {
  display: none;
}

#block-user-login h2 {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

#block-user-login div,
#block-user-login input {
  float: left;
  margin: 0;
  padding: 0;
}

#block-user-login h2,
#block-user-login input {
  margin-right: 1.5em;
}

#block-user-login .form-submit {
  background: url('images/enter.jpg');
  border: 0px;
  height: 23px;
  width: 69px;
  cursor: pointer;
  text-indent: -1000em;
}

#block-user-login .form-actions a {
  position: relative;
  top: 25px;
  left: -275px;
  color: #636363;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  font-weight: 100;
}  

#block-user-login .form-actions a:hover {
  color: #636363;
  text-decoration: underline;
}

#tagline {
  float: left;
  clear: both;
  color: #282828;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 41px;
}

#main-menu {
  float: left;
  margin: 0;
  padding: 0;
}

#main-menu ul,
#main-menu li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu li ul {
  display: none;
  position: absolute;
  top: 1em;
  left: 0;
}

#main-menu li > ul {
  /* IE hack */
  top: auto;
  left: auto;
}

#main-menu li:hover ul {
  display: block;
}

#main-menu li {
  margin-right: 0em;
  margin-top: 17px;
  margin-bottom: 11px;
}

#main-menu a {
  color: #ffffff;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 100;
  padding-top: 17px;
  padding-bottom: 11px;
  padding-right: 19px;
  margin-right: 10px;
}

#main-menu span {
  padding-top: 17px;
  padding-bottom: 11px;
  padding-left: 19px;
}

#main-menu a.active-trail,
#main-menu a:hover {
  color: #ff0000;
  background: transparent url('images/button-right.jpg') no-repeat scroll top right;
}

#main-menu a.active-trail span,
#main-menu a:hover span {
  background: transparent url('images/button-left.jpg') no-repeat;
}

#main-menu li ul a.active,
#main-menu li ul a.active span,
#main-menu li ul a,
#main-menu li ul a span,
#main-menu li ul a:hover,
#main-menu li ul a:hover span {
  background-image: none;
}

#main-menu li ul {
  margin-top: 10px;
  width: 200px;
  border: 1px solid #CCCCCC;
  font: normal 12px Verdana;
  margin-left: 20px;
  color: #000000;
}

#main-menu li ul li {
  width: 190px;
  margin: 0;
  padding: 0;
  background: white;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px;
}

#main-menu li ul li,
#main-menu li ul li a,
#main-menu li ul li span {
  background: white;
  color: #A71305;
}

#main-menu li ul li:hover,
#main-menu li ul li:hover a,
#main-menu li ul li:hover span {
  background: #E58411;
  color: #ffffff;
}

#main-menu li ul a {
  padding: 0;
  margin: 0;  
  width: 100%;
  text-indent: 3px;
  padding: 1px 0;
  text-decoration: none;
}

#main-menu li ul span {
  padding: 0;
  margin: 0;
}

#highlighted img,
#block-search-form {
  float: left;
}

#block-search-form {
  margin-top: 15px;
  margin-left: 15px;
}

#columns-top {
  width: 980px;
  height: 6px;  
  background-image: url('images/box1-top.jpg');
  background-repeat: no-repeat;  
  float: left;  
}

#columns {
  width: 980px; 
  background-image: url('images/box1-center.jpg');
  background-repeat: repeat-y;  
  float: left;  
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
  padding-bottom: 5px;

  color:#4A4A4A;
  font-family:Arial, Verdana, Helvetica, sans-serif;
  font-size:13px;
  line-height:18px;
}

#footer1 {
  padding-top: 10px;
  clear: both;
}

#footer1-gutter-left {
  background-image: url('images/box3-left.jpg');
  width: 11px;
  height: 36px;
  float: left;
}

#footer1-center {
  background-image: url('images/box3-center.jpg');
  width: 920px;
  height: 36px;
  float: left;
}

#footer1-gutter-right {
  background-image: url('images/box3-right.jpg');
  width: 11px;
  height: 36px;
  float: left;
}

#menu-quick-links,
#menu-quick-links h2 {
  padding: 0;
  margin: 0;  
  color: #262626;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
}

#menu-quick-links {
  float: right;
}

#menu-quick-links h2 {
  float: left;
  background-image: url('images/divider.jpg');
  background-repeat: no-repeat;
  padding-left: 25px;
}

#menu-quick-links ul,
#menu-quick-links li {
  float: left;
}

#menu-quick-links ul {
  margin: 0;
  padding: 0;
  height: 36px;
}

#menu-quick-links li,
#menu-quick-links h2 {
  margin-right: 10px;
  padding-top: 10px;
}

#menu-quick-links li {
  list-style-image: url('images/list-separator.jpg');
}

#menu-quick-links li.first {
  list-style: none;
}

#menu-quick-links a {
  padding-left: 5px;
}

#footer2 {
  padding-top: 10px;
  clear: both;
}

#footer2-gutter-left {
  background-image: url('images/box4-left.jpg');
  width: 10px;
  height: 50px;
  float: left;
}

#footer2-center {
  background-image: url('images/box4-center.jpg');
  width: 920px;
  height: 50px;
  float: left;
}

#footer2-gutter-right {
  background-image: url('images/box4-right.jpg');
  width: 10px;
  height: 50px;
  float: left;
}

#footer-left {
  margin: 0;
  padding: 0;
  float: left;
  padding-top: 17px;
}

#footer-right {
  margin: 0;
  padding: 0;
  float: right;
  padding-top: 17px;
}

#page-title {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 100;
  color: #2f9cf7;
  background-image: url('images/header-background.jpg');
  background-repeat: no-repeat;
  padding-bottom: 12px;
}

.node-type-article #page-title {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  background-image: none;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

.page-news .view-content h2 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  position: relative;
  top: -18px;
  left: 5px;
  background-color: white;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.page-news .submitted {
  clear: both;
  font-weight: 600;
}

.page-news div.node-article {
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.page-news h2 a,
.link {
   color:#4A4A4A;
   font-family:Arial, Verdana, Helvetica, sans-serif;
   font-size:13px;
   line-height:25px;
   padding-top:7px;
}

.page-news h2 a,
.link a {
   color:#4A4A4A;
   text-decoration:none;
}

.page-news h2 a:hover,
.link a:hover {
   color:#4A4A4A;
   text-decoration:underline;
}

#webform-client-form-13 .form-actions,
#webform-component-waiver-signature,
#webform-component-waiver-phone-number,
#webform-component-waiver-emergency-contact--waiver-emergency-phone,
#webform-component-waiver-guardian {
  clear: both;
}

#webform-component-waiver-signature-date-day,
#webform-component-waiver-signature-date-month,
#webform-component-waiver-signature-date-year,
#webform-component-waiver-address,
#webform-component-waiver-zip,
#webform-component-waiver-emergency-contact,
#webform-component-waiver-emergency-contact--waiver-emergency-address,
#webform-component-waiver-emergency-contact--waiver-emergency-zip {
  float: left;
  clear: right;
}

#webform-component-waiver-zip,
#webform-component-waiver-emergency-contact--waiver-emergency-zip {
  margin-left: 1em;
}

#webform-component-waiver-signature-date-day label,
#webform-component-waiver-signature-date-month label,
#webform-component-waiver-signature-date-year label {
  font-weight: 100;
}

#webform-component-waiver-signature-date-month label {
  margin-left: 1em;
}

#webform-component-waiver-signature-date-year label {
  margin-right: -0.15em;
}

#webform-component-waiver-guardian,
#webform-component-waiver-emergency-contact {
  width: 900px;
}

#webform-component-contact-name label,
#webform-component-contact-email label,
#webform-component-contact-interests label,
#webform-component-contact-message label {
  float: left;
  padding-right: 1em;
  width: 5em;
  text-align: right;
}

#webform-component-contact-name input,
#webform-component-contact-email input {
  width: 15em;
}

#webform-component-contact-interests textarea,
#webform-component-contact-message textarea {
  width: 35em;
}

#webform-client-form-14 {
  margin: auto;
  width: 40em;
}

#webform-client-form-14 .form-actions {
  padding-left: 6em;
}